{% extends "base.html" %}

{% block page_title %} Manage User  {% endblock %}

{% load bootstrap4 %}
{% block maincontainer %}
        <div class="row">
            <div class="col-md-4 pr-0">
                <form action="" method="POST">{% csrf_token %}
                    <div class="card p-3 border-0">
                        <div class="card-title">
                            <h5>Add new user</h5>
                        </div>
                        <div class="card-body">
                            {% bootstrap_field form.username %}
                            {% bootstrap_field form.user_role %}
                            {% bootstrap_field form.password1 %}
                            {% bootstrap_field form.password2 %}
                            <button class="btn btn-success btn-sm">Create User</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <div class="card border-0">
                    <div class="card-title p-3">
                        <h5>All users</h5>
                    </div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Username</th>
                            <th>User Roles</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.username }}</td>
                                <td>{{ user.userrole.user_role }}</td>
                                <td>
                                    <a data-remote="{% url 'change_password' user.username %}" data-target="#myModal" data-toggle="modal" class="btn btn-outline-secondary btn-sm"><i class="fa fa-edit"></i> Change Password</a>
                                    <a data-remote="{% url 'deactivate_csr' user.username %}" data-target="#myModal" data-toggle="modal" class="btn btn-outline-secondary btn-sm"><i class="fa fa-ban"></i> Deactivate</a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>

            </div>
        </div>
{% endblock %}