{% extends "base.html" %}


{% load static staticfiles %}

{% block page_title %}manage {% if ticket_type == "1" %}Query{% else %}Complain{% endif %} categories
{% endblock %}

{% block css %}
	<style>
		.table td {
			padding: 4px;
		}
	</style>
{% endblock %}

{% block maincontainer %}
{% csrf_token %}

<div class="container" id="app">

</div>

{% endblock %}

{% block js %}
<script>
      var rare_settings =  rare_settings || {};
      rare_settings.ticket_type = {{ticket_type}};
      </script>
<script src="{% static 'js/category.js' %}?v=3.0">

</script>{% endblock %}