{% extends "base.html" %}


{% load static staticfiles %}

{% block page_title %}
    <a href="{% url 'dashboard' %}" class="primary-text-color">Dashboard</a>
    <i class="fa fa-chevron-right"></i>
    <span class="">Manage categories</span>
    <i class="fa fa-chevron-right"></i>
    <span class="breadcrumb-active">{% if ticket_type == "1" %}Query{% else %}Complain{% endif %}</span>
{% endblock %}


{% block maincontainer %}
{% csrf_token %}

<div class="container" id="app">

</div>

{% endblock %}

{% block js %}
<script>
      var rare_settings =  rare_settings || {};
      rare_settings.ticket_type = {{ticket_type}};
      </script>
<script src="{% static 'js/category.js' %}?v=1.25">

</script>{% endblock %}