{% load static staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" type="text/css" />

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="{% static 'vendor/pnotify/pnotify.custom.min.css' %}" type="text/css" />

    <title>New Ticket!</title>
  </head>
  <body>

    {% csrf_token %}

<div class="container" id="app">

</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

      <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/js/vue.js' %}"></script>
    <script src="{% static 'vendor/js/moment.min.js' %}"></script>
    <script src="{% static 'vendor/pnotify/pnotify.custom.min.js' %}"></script>
    <script src="{% static 'vendor/js/vue-resource.min.js' %}"></script>
    <script src="{% static 'js/new_ticket.js' %}?v=1.7"></script>


  </body>
</html>