{% extends "base.html" %}



{% load static staticfiles %}

{% block page_title %}
    New {% if ticket_type == '1' %}Query{% elif ticket_type == '2' %}Compalin{% endif %} tickets
{% endblock %}


{% block maincontainer %}
{% csrf_token %}

<div class="container" id="app">

</div>

{% endblock %}

{% block js %}
<script>
  var rare_settings =  rare_settings || {};
  rare_settings.ticket_type = {{ticket_type}};

</script>
<script src="{% static 'js/new_ticket.js' %}?v=2.7"></script>
{% endblock %}
