{% extends "base.html" %}



{% load static staticfiles %}

{% block page_title %} New Ticket{% endblock %}

{% comment %}
{% block user_detail %}
    <div class="">
        <hr width="50%">
        <p class="text-center small primary-text-color">
              <a href="{% url 'new_ticket' 1 %}" class="pl-3 small">Query Ticket</a> |
              <a href="{% url 'new_ticket' 2 %}" class="pl-3 small">Complain Ticket </a> |
            <span class="pl-3 pr-3">Last Login: {{ request.user.last_login }}</span>|
              <span class="pr-3">{{ request.user.username }}</span>|
              <a class="pl-3 pr-3" href="{% url 'account_logout' %}">Logout</a>
        </p>
        <hr>
    </div>
{% endblock %}
{% endcomment %}

{% block maincontainer %}
{% csrf_token %}

<div class="container" id="app">

</div>

{% endblock %}

{% block js %}
<script>
  var rare_settings =  rare_settings || {};
  rare_settings.ticket_type = {{ticket_type}};
</script>
<script src="{% static 'js/new_ticket.js' %}?v=2.6"></script>
{% endblock %}
