{% extends "base.html" %}


{% load static staticfiles %}

{% block page_title %}
    <a href="{% url 'dashboard' %}" class="primary-text-color">Dashboard</a>
    <i class="fa fa-chevron-right"></i>
    <span class="breadcrumb-active">Reports <i class="fa fa-chevron-right"></i></span>
    <span class="breadcrumb-active"> 
      {% if ticket_type == "1" %}query{% else %}complain{% endif %}
    </span>
{% endblock %}

{% block maincontainer %}
{% csrf_token %}

<div class="container" id="app">

</div>

{% endblock %}

{% block js %}
<script>
  var rare_settings =  rare_settings || {};
  rare_settings.ticket_type = {{ticket_type}};
  rare_settings.can_approve = "{{can_approve}}";
  rare_settings.can_delete = "{{can_delete}}";
</script>
<script src="{% static 'js/reports.js' %}?v=1.18"></script>
{% endblock %}
