{% extends "base.html" %}


{% load static staticfiles %}

{% block page_title %}reports / {% if ticket_type == "1" %}Query{% else %}Complain{% endif %}

{% endblock %}

{% block css %}
<style>
    body, {
      color: #444;
    }
    
    a {
      color: #999;
    }
    .item {
      cursor: pointer;
    }
    .bold {
      font-weight: bold;
    }
    ul {
      padding-left: 1.6em;
      line-height: 1.3em;
    }

    /*a.category-link:hover > li.category {
      background-color: #efefef;
    }*/

    li.category a:hover {
      color: #009E88;
      text-decoration: none;
    }

    .active {
      color: #009E88;
    }

    .hide {
      display: none;
    }
</style>

{% endblock %}

{% block maincontainer %}
{% csrf_token %}
  {% verbatim %}

<script type="text/x-template" id="item-template">
  <li class="category p-2">
    <div>
      <a class="category-link" href="javascript:void(0)" @click="loadReports(model)">{{ model.name }} </a>
    </div>
    <ul class=""  v-if="isFolder">
      <item
        class="item"
        v-for="(model, index) in model.branch"
        :key="index"
        :model="model">
      </item>

    </ul>
  </li>
</script>


<div class="container" id="app"></div>

{% endverbatim %}

{% endblock %}

{% block js %}
<script>
  var rare_settings =  rare_settings || {};
  rare_settings.ticket_type = {{ticket_type}};
  rare_settings.can_approve = "{{can_approve}}";
  rare_settings.can_delete = "{{can_delete}}";

  $(".category").on('hover', function(){
    console.log('here');
  })

</script>
<script src="{% static 'js/reports.js' %}?v=2.00"></script>
{% endblock %}
