{% load staticfiles bootstrap4 %}
<html>
<head>
    <title> TSCC </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {#    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" type="text/css" />#}
    <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}"
          type="text/css"/>

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="{% static 'vendor/pnotify/pnotify.custom.min.css' %}" type="text/css"/>
    {% block css %}{% endblock %}
</head>
<body>

<h3 class="page-header text-center m-4 primary-text-color">{% block page_title %}{% endblock %}</h3>

{% if request.user.is_authenticated %}
{% block user_detail %}
    <div class="">
        <hr width="50%">
        <p class="text-center small primary-text-color">
            <span class="pr-3">{{ request.user.username }}</span>|
            <span class="pl-3 pr-3">Last Login: {{ request.user.last_login }}</span>|
            <a class="pl-3 pr-3" href="{% url 'account_logout' %}">Logout</a>
        </p>
        <hr>
    </div>
{% endblock %}
{% endif %}

{% block maincontainer %}

{% endblock %}


{% block modal %}
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/tether.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>

{#<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>#}
{#<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>#}
<script src="{% static 'vendor/js/vue.js' %}"></script>
<script src="{% static 'vendor/js/moment.min.js' %}"></script>
<script src="{% static 'vendor/pnotify/pnotify.custom.min.js' %}"></script>
<script src="{% static 'vendor/js/vue-resource.min.js' %}"></script>
<script type="text/javascript">
    // modal box render
    $('body').on('click', '[data-toggle="modal"]', function () {
        $($(this).data("target") + ' .modal-content').load($(this).data("remote"));
    });

</script>
{% block js %}{% endblock %}
</body>
</html>
