{% load staticfiles bootstrap4 %}
<html>
<head>
    <title> TSCC </title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {#    <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" type="text/css" />#}
    <link rel="stylesheet" href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}"
          type="text/css"/>

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="{% static 'vendor/pnotify/pnotify.custom.min.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'vendor/vue-multiselect/vue-multiselect.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'vendor/daterangepicker/daterangepicker.css' %}" type="text/css" />
    {% block css %}{% endblock %}
    <style>
        body, p, h1, h2, h3, h4, h5, div {
            color: #999 !important;
            font-family: Roboto !important;
            word-wrap: break-word;
        }
        table th, td {
            font-size: 14px;
        }
        p, a {
            font-size: 14px;
        }

        .btn-sm {
            font-size: 11px;
        }

        input, .form-control {
            /*padding: 4px;*/
            font-size: 14px !important;
            font-family: Roboto !important;
        }
        #topbarmenu, #topbarmenu a {
            font-size: 12.75px;
        }
    </style>
</head>
<body>


    <div class="row p-0 m-0">
        <div class="col-md-6">
            <p class="text-uppercase primary-text-color mb-1 mt-2">{% block page_title %}{% endblock %}</p>
        </div>
        <div class="col-md-6">
            {% if request.user.is_authenticated %}
            {% block user_detail %}
                <p class="text-right mb-1 mt-2" id="topbarmenu">
                    <span class="pr-3 text-muted"><i class="fa fa-user fa-fw"></i> {{ request.user.username }}</span>|
                    <span class="pl-3 pr-3 text-muted"><i class="fa fa-clock-o fa-fw"></i> Last Login: {{ request.user.last_login }}</span>|
                    <a class="pl-3 pr-3 text-muted" href="{% url 'account_logout' %}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </p>
            {% endblock %}
            {% endif %}
        </div>
        <div class="col-md-12 p-0">
            <hr class="mb-3 mt-0">
        </div>
    </div>
    <div class="">
        <div class="col-md-12 d-flex">
            <div class="">
                    {% block vertical_navbar %}
                        <div class="float-left mr-4" style="border-right: 1px solid #efefef;">
                            <nav class="navbar bg-light h-100 p-0 pr-2">
                                <ul class="navbar-nav primary-text-color">
                                    <li class="nav-item mb-3">
                                        <a href="{% url 'dashboard' %}" class="primary-text-color" data-toggle="tooltip" title="Dashboard"
                                            data-placement="right">
                                            <i class="fa fa-home"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item my-3">
                                        <a class="primary-text-color example-popover" href="#" data-toggle="popover" title="View Reports" data-placement="right" data-content="<a href='{% url 'report' 1 %}'>Query Reports</a> <br/><a href='{% url 'report' 2 %}'>Complain Reports</a>">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </li>
                                    {% if request.user.userrole.user_role == 'Superuser' %}
                                    <li class="nav-item my-3">
                                        <a class="primary-text-color example-popover" href="#" data-toggle="popover" title="Manage Ticket Categories" data-content="<a href='{% url 'category_settings' 1 %}'>Query Categories</a><br/><a href='{% url 'category_settings' 2 %}'>Complain Categories</a>"
                                            data-placement="right">
                                            <i class="fa fa-ticket"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                    <li class="nav-item my-3">
                                        <a class="primary-text-color example-popover" href="#" data-toggle="popover" title="Add Tickets" data-content="<a href='{% url 'new_ticket' 1 %}'>Query Tickets</a><br/><a href='{% url 'new_ticket' 2 %}'>Complain Tickets</a>"
                                            data-placement="right">
                                            <i class="fa fa-plus-circle"></i>
                                        </a>
                                    </li>
                                    {% if request.user.userrole.user_role == 'Superuser' %}
                                    <li class="nav-item my-3">
                                        <a href="{% url 'add_new_user' %}" class="primary-text-color" data-toggle="tooltip" title="Manage Users"
                                            data-placement="right">
                                            <i class="fa fa-user"></i>
                                        </a>
                                    </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    {% endblock %}                
            </div>
            <div class="w-100">
                {% block maincontainer %}{% endblock %}
            </div>
        </div>
    </div>


{% block modal %}
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}

<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'js/tether.min.js' %}"></script>
<!-- <script src="{% static 'vendor/popper.min.js' %}"></script> -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>

{#<script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>#}
{#<script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>#}
<script src="{% static 'vendor/js/vue.js' %}"></script>
<script src="{% static 'vendor/js/vuejs-dialog.min.js' %}"></script>
<script src="{% static 'vendor/js/moment.min.js' %}"></script>
<script src="{% static 'vendor/pnotify/pnotify.custom.min.js' %}"></script>
<script src="{% static 'vendor/js/vue-resource.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/vue-multiselect/vue-multiselect.min.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/daterangepicker/daterangepicker.js' %}"></script>
<script type="text/javascript" src="{% static 'vendor/vue-multiselect/select2.v.component.js' %}?v=1.0"></script>
<script type="text/javascript">
    // modal box render
    $('body').on('click', '[data-toggle="modal"]', function () {
        $($(this).data("target") + ' .modal-content').load($(this).data("remote"));
    });

    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();   
    });

    $(function () {
        $('.example-popover').popover({
            trigger: 'manual',
            html: true,  
        }).on('mouseenter', function() {
            var _this = this;
            $(this).popover("show");
            $(".popover").on("mouseleave", function () {
                $(_this).popover('hide');
            });
        }).on("mouseleave", function () {
            var _this = this;
            setTimeout(function () {
                if (!$(".popover:hover").length) {
                    $(_this).popover("hide");
                }
            }, 300);
        });
    })

</script>
<script>
window.Vue.use(VuejsDialog.default)


</script>
{% block js %}{% endblock %}
</body>
</html>
